//
// Breadcrumbs
// --------------------------------------------------

/*.breadcrumb {
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
  margin-bottom: @line-height-computed;
  list-style: none;
  background-color: @breadcrumb-bg;
  border-radius: @border-radius-base;

  > li {
    display: inline-block;

    + li:before {
      content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: @breadcrumb-color;
    }
  }

  > .active {
    color: @breadcrumb-active-color;
  }
}*/

.breadcrumb-group { 

	position: relative;
	display: inline-block;
	margin-bottom: @content-margin;
	vertical-align: middle; // match .btn alignment given font-size hack above
	overflow: hidden;

	.breadcrumb { 
		position: relative;
		float: left;
		padding: @breadcrumb-padding 0;
		color: @breadcrumb-text-color;
		text-align: center;
		background-color: @breadcrumb-bg-color;

		+ .breadcrumb { 
			margin-left: -1px;
			border-left: 2px solid @breadcrumb-divider-color
		}

		&:first-child { .border-left-radius( @border-radius-base );}
		&:last-child { .border-right-radius( @border-radius-base );}

		.badge { 
			position: relative;
			top: -2px;
			color: @breadcrumb-bg-color;
			background-color: @breadcrumb-text-color;
		}

		&.active { 
			color: @breadcrumb-active-text-color;
			background-color: @breadcrumb-active-bg-color;

			&:not(:last-child):after { border-left-color: @breadcrumb-active-bg-color;}

			.badge { 
				color: @breadcrumb-active-bg-color;
				background-color: @breadcrumb-active-text-color;
			}
		}
	}


	&.breadcrumb-group-justified {
		display: table;
		width: 100%;
		table-layout: fixed;
		border-collapse: separate;

		> .breadcrumb { 
			float: none;
			display: table-cell;
			width: 1%;
		}
	}


	@media( min-width: @grid-float-breakpoint ) { 

		/** The Spacing **/
		@breadcrumb-padding-times-2       : ( @breadcrumb-padding * 2 );
		@breadcrumb-padding-times-3       : ( @breadcrumb-padding * 3 );
		@breadcrumb-padding-times-4       : ( @breadcrumb-padding * 4 );
		@breadcrumb-padding-times-5       : ( @breadcrumb-padding * 5 );
		@breadcrumb-padding-times-6       : ( @breadcrumb-padding * 6 );
		@breadcrumb-padding-times-7       : ( @breadcrumb-padding * 7 );

		.breadcrumb:not(:last-child):after { 
			content: " ";
			display: block;
			width: 0;
			height: 0;
			border: ( @breadcrumb-padding * 2 ) solid transparent;
			border-left: ( @breadcrumb-padding * 1 ) solid @breadcrumb-bg-color;
			position: absolute;
			top: 50%;
			margin-top: -( @breadcrumb-padding * 2 );
			left: 100%;
			z-index: 3;
		}

		.breadcrumb:not(:last-child):before {
			content: " ";
			display: block;
			width: 0;
			height: 0;
			border: ( @breadcrumb-padding * 3 ) solid transparent;
			border-left: ( ( @breadcrumb-padding * 2 ) - 4 ) solid @breadcrumb-divider-color;
			position: absolute;
			top: 50%;
			margin-top: -( @breadcrumb-padding * 3 );
			left: 100%;
			z-index: 3;
		}

		.breadcrumb { padding: @breadcrumb-padding @breadcrumb-padding-times-2 @breadcrumb-padding @breadcrumb-padding-times-4;}

		.breadcrumb:first-child { padding: @breadcrumb-padding @breadcrumb-padding @breadcrumb-padding @breadcrumb-padding-times-2;}

		.breadcrumb:last-child { padding: @breadcrumb-padding @breadcrumb-padding-times-3 @breadcrumb-padding @breadcrumb-padding-times-5;}
	}
}