.slick-slider { 
	position: relative;
	display: block;
	padding-left: 0;
	padding-right: 0;
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	-webkit-touch-callout: none;
	-ms-touch-action: pan-y;
		touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list { 
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0 0 @line-height-computed;
	padding: 0;

	&:focus { outline: none;}

	&.dragging { 
		cursor: pointer;
		cursor: hand;
	}

	.slick-track, 
	.slick-list { 
		-webkit-transform: translate3d( 0, 0, 0 );
		        transform: translate3d( 0, 0, 0 );
	}

	.slick-track { 
		position: relative;
		top: 0;
		left: 0;
		display: block;

		&:before,
		&:after { 
			content: '';
			display: table;
		}
		
		&:after { clear: both;}
	}
}

.slick-loading .slick-track { visibility: hidden;}

.slick-slide { 
	display: none;
	float: left;
	padding: 0 5px;
	height: 100%;
	min-height: 1px;

	[dir='rtl'] & { float: right;}

	img { display: block;}

	&.slick-loading img { display: none;}

	&.dragging img { pointer-events: none;}

	.slick-initialized & { display: block;}

	.slick-loading & { visibility: hidden;}

	.slick-vertical & { 
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}


/* Directional Arrows */
.slick-prev, 
.slick-next { 

	@media( min-width: @screen-sm-min ) { 
		position: absolute;
		height: 40px;
		width: 20px;
	//	line-height: 0px;
	//	font-size: 0px;
		cursor: pointer;
	//	background: transparent;
	//	color: transparent;
		top: 50%;
		margin-top: -40px;
		padding: 0;
		border: none;
		outline: none;

		&:hover, 
		&:focus { 
			outline: none;
			background: transparent;
			color: transparent;

			&:before { opacity: @slick-opacity-on-hover;}
		}

		&.slick-disabled:before { opacity: @slick-opacity-not-active;}

		.fa { 
			color: @gray-light;
			font-size: 40px;
		}
	}

}
	.slick-prev { 
		left: -30px;
		text-align: right;

		[dir="rtl"] & {
			left: auto;
			right: -30px;
		}
	}

	.slick-next {
		right: -30px;
		text-align: left;

		[dir="rtl"] & { 
			left: -30px;
			right: auto;
		}
	}


/* Dots */

.slick-slider { margin-bottom: @line-height-computed;}

.slick-dots { 
	list-style: none;
	display: block;
	padding: 0;
	margin-bottom: @line-height-computed;
	width: 100%;
	text-align: center;

	li { 
		position: relative;
		display: inline-block;
		padding: 0;
		margin: 0 ( @line-height-computed / 2 );

		a { 
			display: block;
			border: 0;
			border-radius: 100%;
			width: @slick-dot-size;
			height: @slick-dot-size;
			font-size: 0;
			background: @slick-dot-color;
			cursor: pointer;
			outline: none;

			&:hover, 
			&:focus { outline: none;}
		}

		&.slick-active a { 
			background-color: @slick-dot-color-active;
		//	.opacity( @slick-opacity-default );
		}
	}
}




.slider-nav { 
	margin: -10px 25px 20px;

	.slick-prev, 
	.slick-next { 
		display: block;
		top: 0;
		bottom: 0;
		width: 25px;
		height: auto;
		margin-top: 0;
		background-color: @gray-light;

		.fa { 
			display: block;
			margin-top: 30px;
			color: @white;
			text-align: center;

			@media( min-width: @screen-lg-min ) { 

				margin-top: 20px;

			}
		}
	}

//	.slick-prev { left: -25px;}
//	.slick-next { right: -25px;}
}