@slick-arrow-color:      red;
@slick-prev-character:   ' ';
@slick-next-character:   ' ';

@slick-dot-color:        @gray-light;
@slick-dot-color-active: @gray;
@slick-dot-size:         10px;

@slick-opacity-default:    0.75;
@slick-opacity-on-hover:   1.0;
@slick-opacity-not-active: 0.25;