.bs-icon {
  display: inline-block;
  background: url(assets/svg/bs-icons-01.svg);
  background-size: 700% 100%;
  position: relative;
  width: 6em;
  height: 6em;
  margin: 1em auto;
}
.bs-icon.small {
  width: 1em;
  height: 1em;
}
.bs-icon.bs-icon-st-wheel {
  background-position: 0% 0;
}
.bs-icon.bs-icon-hat {
  background-position: 16.66666667% 0;
}
.bs-icon.bs-icon-anchor {
  background-position: 33.33333333% 0;
}
.bs-icon.bs-icon-boat {
  background-position: 50% 0;
}
.bs-icon.bs-icon-crowd {
  background-position: 66.66666667% 0;
}
.bs-icon.bs-icon-horseshoe {
  background-position: 83.33333333% 0;
}
.bs-icon.bs-icon-money {
  background-position: 100% 0;
}
