/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Ville Ristimäki (@villeristi)
 * 
 */

//
// RESET
// --------------------------------------------------

.flex-container, 
.flex-slider { 
	a:hover,
	a:focus { outline: none;}
}

.slides, 
.flex-control-nav, 
.flex-direction-nav { 
	padding: 0;
	margin: 0;
	list-style: none;
}


//
// BASE STYLES
// --------------------------------------------------

.flexslider { 
	padding: 0;
	margin: 0;
	overflow: hidden;

	.slides { 

		> li { 
			display: none;
			-webkit-backface-visibility: hidden;

			img { 
				margin: 0 auto;
				border: 1px solid @border-color;
			}
		}

		//
		// Clearfix for the .slides element
		&:after { 
			content: "\0020";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		html[xmlns] & { display: block;}

		* html & { height: 1%;}


		// No JavaScript Fallback
		// If you are not using another script, such as Modernizr, make sure you include js that eliminates this class on page load

		& > li:first-child { display: block;}
	}


	&.flexslider-tray { 
		position: absolute;
		top: -9999px;
		left: -9999px;
		display: none;
		margin-left: 40px;
		margin-right: 40px;
		overflow: visible;

		&.loaded { 
			position: relative;
			top: 0;
			left: 0;
		}

		.slides { 
			border-top: 1px solid @border-color;
			border-bottom: 1px solid @border-color;

			> li { 

				img { border: none;}

				&.flex-active-slide img { .opacity( 0.60 );}
			}
		}

		@media (min-width: @container-sm) { display: block;}
	}
}


//
// DEFAULT THEME
// --------------------------------------------------

.flexslider { 
	position: relative;
	margin: 0 0 @line-height-computed;
	background: @white;
	zoom: 1;

	.slides { zoom: 1;}
}

.flex-viewport { 
	max-height: 2000px;
	.transition(all 1.0s ease);

	.loading & { max-height: 300px;}
}

.carousel li { margin-right: 5px;}


//
// Direction Nav
// ----------------------------------------

.flex-direction-nav { 
	*height: 0;
	border: 1px solid lime;

	a { 
	//	position: absolute;
		display: block;
		text-decoration: none;
		overflow: hidden;
		cursor: pointer;
		z-index: 10;
		border: 1px solid red;
		.transition( all 0.3s ease-in-out );

		&:hover { color: @gray;}

		&.flex-prev { 
		//	left: -50px;
			text-align: left;
		}

		&.flex-next { 
		//	right: -50px;
			text-align: right;
		}
	}


	//
	// Hover states
	// --------------------

	.flexslider:hover & { 
		.flex-prev { left: 10px;}
		.flex-next { right: 10px;}
	}


	//
	// Disabled
	// --------------------

	.flex-disabled { 
		color: @gray-light;
	//	color: rgba(255, 255, 255, 0.8);
		cursor: default;
	}
}


//
// Pause/Play
// ----------------------------------------

.flex-pauseplay a { 
	position: absolute;
	bottom: 5px;
	left: 10px;
	display: block;
	width: 20px;
	height: 20px;
	color: @black;
	overflow: hidden;
	cursor: pointer;
	z-index: 10;

	@media (max-width: @grid-float-breakpoint){ display: none;}
}


//
// Control Nav
// ----------------------------------------

.flex-control-nav {
	position: absolute;
	bottom: (@line-height-computed / 1.25);
	right: @line-height-computed;
	display: none;
	z-index: 5;

	li {
		display: inline-block;
		*display: inline;
		margin: 0 6px;
		zoom: 1;
	}

	@media (min-width: @grid-float-breakpoint){ display: block;}
}


//
// Control paging
// ----------------------------------------

.flex-control-paging li a { 
	display: block;
	border-radius: 100%;
	width: 18px;
	height: 18px;
	text-indent: -9999px;
	background: @white;
	cursor: pointer;

	&:hover { background: @gray-light;}

	&.flex-active { 
		background: @brand-primary;
		cursor: default;
	}

	@media (max-width: @grid-float-breakpoint){ 
		width: 10px;
		height: 10px;
	}
}

.flex-control-thumbs {
	position: static;
	margin: 5px 0 0;
	overflow: hidden;

	li {
		float: left;
		margin: 0;
		width: 25%;
	}

	img {
		display: block;
		width: 100%;
		.opacity(70);
		cursor: pointer;
		.transition(all 1s ease);

		&:hover { .opacity(100);}
	}

	.flex-active {
		.opacity(100);
		cursor: default;
	}
}


//
// CAPTION
// --------------------------------------------------

.flexslider { 

	.caption {
		display: block;
		padding: (@line-height-computed / 2) @line-height-computed 0;
		font-size: @font-size-base;

		@media (min-width: @grid-float-breakpoint){ 
			padding: (@line-height-computed / 2 );
			font-size: @font-size-large;
		}
	}
}


//
// RESPONSIVE
// --------------------------------------------------

// @media screen and ( max-width: 860px ) { 
@media (max-width: @grid-float-breakpoint){ 

	.flex-direction-nav { 
		.flex-prev { left: 10px;}

		.flex-next { right: 10px;}
	}

}