// EXPERIMENT WITH TABLES
// 
@media only screen and (max-width: 600px){
    /* Force table to not be like tables anymore */
    
    .table.mobile {
        display: block;
        thead, tbody, th, td, tr {
            display: block;
        }
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            border: 1px solid #ccc;
            margin-bottom: 2px;
            border-radius: 3px; 
        }
        td {
            /* Behave  like a "row" */
            padding: 5px;
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
        }
        >tbody>tr>td {
            padding-left: 40%;
        }
        td:before {
            /* Now like a table header */
            content: attr(data-title);
            position: absolute;
            /* Top/left values mimic padding */
            font-size: 85%;
            font-weight: 500;
            top: 6px;
            left: 6px;
            width: 35%;
            padding-right: 10px;
            white-space: nowrap;
            border-right: 1px solid #efefef;
        }
    }
}