#bs-earning-calculator {
    background: fade(@dark-blue, 85%);
    .dropdown {
        position: static;
    }
    .dropdown-toggle {
        border: none;
        width: 100%;
        display: block;
        .caret {
            .transform(scale(2));
            .opacity(.5);
        }
    }
    .dropdown-menu {
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        min-height: 100%;
        min-width: 0;
        >li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>label:hover, .dropdown-menu>li>label:focus {
            text-decoration: none;
            color: white;
            background-color: @blue;
        }
    }
    .panel {
        @media ( max-width: @screen-sm) {
            margin: 5px -5px;
        }
    }
    #bs-tm .inner {
        padding: 8px 15px 9px 15px;
    }
}

.panel-owners {
    @media ( max-width: (@screen-sm)) {}
    @media ( min-width: (@screen-sm)) and ( max-width: (@screen-md)) {
        min-height: 440px;
    }
    @media ( min-width: (@screen-md)) {
        min-height: 380px;
    }
}

.slider-owners {
    height: 25vw;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    .image {
        position: relative;
        padding: 0;
        margin: 0;
        overflow: hidden;
        float: left;
        left: 0%;
        &.square {
            width: 25%;
        }
        &.wide {
            width: 50%;
        }
        img {
            position: relative;
            top: 0%;
            left: 0%;
            height: 100%;
            width: 100%;
        }
    }
    @media ( max-width: (@screen-sm / 2)) {
        height: 100vw;
        .image {
            &.pos-2, &.pos-3 {
                display: none;
            }
            &.pos-1 {
                width: 100%;
            }
        }
    }
    @media ( min-width: (@screen-sm / 2)) and ( max-width: (@screen-md)) {
        height: 50vw;
        .image {
            &.pos-3 {
                display: none;
            }
            &.pos-1,
            &.pos-2 {
                width: 50%;
            }
        }
    }
}

// #estimate-earnings {
//   padding: 4px 0 12px 0;
//   text-align: center;
//   font-size: 1.3em;
//   line-height: 0.2em;
//     .small {
//         font-size: 9px;
//         display: block;
//         margin-bottom: 7px;
//         .transform(translate(-20px, 20px));
//     }
// }
