//
// Variables
// --------------------------------------------------
//
// Content Spacers
// ----------------------------------------
//
// Content Margin
// ------------------------------

@content-margin:                20px;

@content-margin-three-quarter:  15px;
@content-margin-half:           10px;
@content-margin-one-quarter:    5px;
@content-margin-quarter:        5px;

@content-margin-double:         40px;


//
// Content Padding
// ------------------------------

@content-padding:                20px;

@content-padding-three-quarter:  15px;
@content-padding-half:           10px;
@content-padding-one-quarter:    5px;
@content-padding-quarter:        5px;

@content-padding-double:         40px;


//
// Grayscale Colors
// ----------------------------------------

@white:                  #fff;
@black:	                 #000;

@gray-darkest:           lighten( @black, 13.5% ); // #222
@gray-darker:            lighten( @black, 20% );   // #333
@gray-dark:              lighten( @black, 40% );   // #666
@gray:                   lighten( @black, 60% );   // #999
@gray-light:             lighten( @black, 80% );   // #ccc
@gray-lighter:           #f2f5f6; // #eee
@gray-lightest:          lighten( @black, 96.5% ); // #f6f6f6


//
// Generic Colors
// ----------------------------------------

@red:                    #d75f58; //#c00;
@orange:                 #f90;
@yellow:	             #fc3;
@green:                  #9c6;
@blue:                   #39c;
@medium-blue: 		  #338bc2;
@dark-blue:			  #0068b0;
@purple:	             #639;
@violet:	             #639;


//
// Company Brand Colors
// ----------------------------------------

@facebook:               #3b5998;
@flickr:                 #ff0084;
@google-plus:            #dd4b39;
@instagram:              #3f729b;
@linkedin:               #007bb6;
@pinterest:              #c92228;
@twitter:                #55acee;
@vimeo:                  #1ab7ea;
@youtube:                #e52d27;


//
// Bootstrap Brand Colors
// ----------------------------------------

@brand-primary:          @blue;
@brand-secondary:        @orange;
@brand-success:          @green;
@brand-info:             @blue;
@brand-warning:          @yellow;
@brand-danger:           @red;

@brand-primary-light:    lighten( @brand-primary, 15% );
@brand-secondary-light:  lighten( @brand-secondary, 15% );

@brand-primary-dark:     darken( @brand-primary, 15% );
@brand-secondary-dark:   darken( @brand-secondary, 15% );


//
// Borders
// ----------------------------------------

@border-color:           @gray-light;

@hr-border:              @border-color;


//
// Unicode Characters
// --------------------------------------------------

@unicode-bullet:       "\2022";
@unicode-hellip:       "\2026";
@unicode-slash:        "\8260";

@unicode-dash:         "\2013";
@unicode-ndash:        "\2013";
@unicode-mdash:        "\2014";

@unicode-lt:           "\003c";
@unicode-gt:           "\003e";

@unicode-laquo:        "\00ab";
@unicode-lsaquo:       "\2039";

@unicode-raquo:        "\00bb";
@unicode-rsaquo:       "\203A";

@unicode-caret-up:    "\25BC";
@unicode-caret-down:  "\25B2";

@unicode-caret-left:  "\25C0";
@unicode-caret-right: "\25B6";


//
// Fonts
// ----------------------------------------

//
// Generic
// ------------------------------

@font-family-sans-serif:            "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
@font-family-serif:                 Georgia, "Times New Roman", Times, serif;

@font-family-base:                  @font-family-sans-serif;

//
// Font Awesome
// ------------------------------

@fa-font-path:                      "assets/fonts/font-awesome/fontawesome-regular";


//
// Open Sans (Google Font)
// ------------------------------

.font-family-open-sans( @size: normal ){ 

	& when ( @size = light ){ 
		font-family: "Open Sans Light", @font-family-sans-serif;
		font-weight: 400;
	}

	& when ( @size = normal ){ 
		font-family: "Open Sans", @font-family-sans-serif;
		font-weight: 700;
	}

	& when ( @size = bold ){ 
		font-family: "Open Sans Bold", @font-family-sans-serif;
		font-weight: 700;
	}

	& when ( @size = black ){ 
		font-family: "Open Sans Extrabold", @font-family-sans-serif;
		font-weight: 700;
	}
}

//
// Headings
// ------------------------------

@headings-color:                    @text-color;

@headings-font-family:              @font-family-sans-serif;

@headings-size-base:                @font-size-base; // ~14px

@font-size-h1:                      ceil( ( @headings-size-base * 1.65 ) ); // ~24px
@font-size-h2:                      ceil( ( @headings-size-base * 1.4 ) );  // ~20px
@font-size-h3:                      ceil( ( @headings-size-base * 1.25 ) ); // ~18px
@font-size-h4:                      ceil( ( @headings-size-base * 1.1 ) );  // ~16px
@font-size-h5:                      @headings-size-base;
@font-size-h6:                      ceil( ( @headings-size-base * 0.85 ) ); // ~12px


//
// Generic Text
// ------------------------------

@text-size-base:                    @font-size-base; // ~14px

@font-size-xlarge:                  ceil( ( @text-size-base * 1.65 ) ); // ~24px
@font-size-large:                   ceil( ( @text-size-base * 1.25 ) ); // ~18px
@font-size-medium:                  ceil( ( @text-size-base * 1.10 ) ); // ~16px
@font-size-small:                   ceil( ( @text-size-base * 0.85 ) ); // ~12px


//
// Bootstrap
// --------------------------------------------------

@row-space:                      5px;

@grid-float-breakpoint:          @screen-md-min;

@body-bg:                        #f4f4f4;
@text-color:                     @gray-dark; 

@btn-default-color:              #333;
@btn-default-bg:                 #fff;
@btn-default-border:             #ccc;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-secondary;
@btn-primary-border:             @btn-primary-bg;

@btn-secondary-color:            #fff;
@btn-secondary-bg:               @brand-primary;
@btn-secondary-border:           @btn-secondary-bg;

@btn-success-border:             @btn-success-bg;
@btn-info-border:                @btn-info-bg;
@btn-warning-border:             @btn-warning-bg;
@btn-danger-border:              @btn-danger-bg;


//
// Navbar
// ----------------------------------------

@navbar-height:                    65px;
@nav-link-padding:                 10px 20px;

@navbar-margin-bottom:             0;
@navbar-border-radius:             0;
@navbar-collapse-max-height:       340px;


@navbar-default-color:             @text-color;
@navbar-default-bg:                @white;
@navbar-default-border:            @border-color;

// Navbar links
@navbar-default-link-color:                @text-color;
@navbar-default-link-hover-color:          @gray-dark;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         @brand-primary;
@navbar-default-link-active-bg:            transparent;
@navbar-default-link-disabled-color:       @gray-light;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #888;
@navbar-default-toggle-border-color:       #ddd;


//
// Panels
// ----------------------------------------

@panel-body-padding:          @line-height-computed;
@panel-heading-padding:       ( @line-height-computed / 2 ) @line-height-computed;


//
// Close
// ----------------------------------------

@close-font-weight:                        normal;


//
// Modal
// ----------------------------------------

@modal-content-bg:                             @panel-bg;
@modal-content-border-color:                   @border-color;
@modal-content-fallback-border-color:          @border-color;

@modal-inner-padding:         @panel-body-padding;





//
// Breadcrumbs
// ----------------------------------------

@breadcrumb-padding:              10px;

@breadcrumb-divider-color:        @body-bg;

@breadcrumb-text-color:           @text-color;
@breadcrumb-bg-color:             @white;

@breadcrumb-active-text-color:    @white;
@breadcrumb-active-bg-color:      @brand-primary;

/** The Spacing **/
@breadcrumb-padding-times-2:      ( @breadcrumb-padding * 2 );
@breadcrumb-padding-times-3:      ( @breadcrumb-padding * 3 );
@breadcrumb-padding-times-4:      ( @breadcrumb-padding * 4 );
@breadcrumb-padding-times-5:      ( @breadcrumb-padding * 5 );
@breadcrumb-padding-times-6:      ( @breadcrumb-padding * 6 );
@breadcrumb-padding-times-7:      ( @breadcrumb-padding * 7 );

//
// Pagination
// ----------------------------------------

@pagination-border:                @border-color;


//
// Labels
// ----------------------------------------

@label-default-bg:            @orange;
@label-primary-bg:            @brand-primary;